// About
section#about(style='display: none;')
    #about-02
        .content-box-md
            .container
                .row
                    .col-md-4
                        .about-item.text-center
                            i.fa.fa-rocket
                            h3 Mission
                            hr
                            p
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi consectetur dolore ducimus fugiat id in.
                    .col-md-4
                        .about-item.text-center
                            i.fa.fa-eye
                            h3 Vision
                            hr
                            p
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi consectetur dolore ducimus fugiat id in.
                    .col-md-4
                        .about-item.text-center
                            i.fa.fa-pencil
                            h3 Passion
                            hr
                            p
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi consectetur dolore ducimus fugiat id in.
    // <div id="about-01">
    // <div class="content-box-lg">
    // <div class="container">
    // &lt;!&ndash;                <div class="row">&ndash;&gt;
    // &lt;!&ndash;                    <div class="col-md-6">&ndash;&gt;
    // &lt;!&ndash;                        <div id="about-left">&ndash;&gt;
    // &lt;!&ndash;                            <div class="vertical-heading">&ndash;&gt;
    // &lt;!&ndash;                                <h5>Who We Are</h5>&ndash;&gt;
    // &lt;!&ndash;                                <h2>A <strong>Story</strong><br>About Us</h2>&ndash;&gt;
    // &lt;!&ndash;                            </div>&ndash;&gt;
    // &lt;!&ndash;                        </div>&ndash;&gt;
    // &lt;!&ndash;                    </div>&ndash;&gt;
    // &lt;!&ndash;                    <div class="col-md-6">&ndash;&gt;
    // &lt;!&ndash;                        <div id="about-right">&ndash;&gt;
    // &lt;!&ndash;                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur atque consequuntur dignissimos dolores, earum fuga illum. Aspernatur atque consequuntur dignissimos dolores, earum fuga illum.</p>&ndash;&gt;
    // &lt;!&ndash;                            <p>inventore ipsum laborum molestias mollitia nostrum placeat provident quasi qui repellat sit voluptas voluptate. Aspernatur atque consequuntur dignissimos dolores, earum fuga illum.</p>&ndash;&gt;
    // &lt;!&ndash;                        </div>&ndash;&gt;
    // &lt;!&ndash;                    </div>&ndash;&gt;
    // &lt;!&ndash;                </div>&ndash;&gt;
    // <div class="row">
    // <div class="col-md-12">
    // <div id="about-bottom">
    // <img src="img/about/about2.png" alt="About Us" class="img-responsive">
    // </div>
    // </div>
    // </div>
    // </div>
    // </div>
    // </div>
// End of About