// Clients
section#clients
    .content-box-sm
        .container
            .row
                .col-md-12.text-center
                    .horizontal-heading
                        h5 Satisfied Clients
                        h2
                            | Our Happy
                            strong Clients
            .row
                .col-md-12
                    #clients-list.owl-carousel.owl-theme
                        // Client 01
                        .client
                            img.img-fluid(src='img/client/client-1.png', alt='client')
                        // Client 02
                        .client
                            img.img-fluid(src='img/client/client-2.png', alt='client')
                        // Client 03
                        .client
                            img.img-fluid(src='img/client/client-3.png', alt='client')
                        // Client 04
                        .client
                            img.img-fluid(src='img/client/client-4.png', alt='client')
                        // Client 05
                        .client
                            img.img-fluid(src='img/client/client-5.png', alt='client')
                        // Client 06
                        .client
                            img.img-fluid(src='img/client/client-6.png', alt='client')
                        // Client 07
                        .client
                            img.img-fluid(src='img/client/client-7.png', alt='client')
                        // Client 08
                        .client
                            img.img-fluid(src='img/client/client-8.png', alt='client')
// End of Clients