// Contact
section#contact
    .content-box-md
        .container
            .row
                .col-md-6
                    // Contact Left
                    #contact-left
                        .vertical-heading
                            h5 Who We Are
                            h2
                                | Get
                                br
                                | In
                                strong Touch
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque facere incidunt inventore ipsum quia quibusdam. Cumque enim excepturi obcaecati possimus suscipit.
                        #offices
                            .row
                                .col-md-6
                                    .office
                                        h4 United States
                                        ul.office-details
                                            li
                                                i.fa.fa-mobile
                                                | (718) 123 4567
                                            li
                                                i.fa.fa-envelope-o
                                                | support@solo.com
                                            li
                                                i.fa.fa-map-marker
                                                | 524 Mina Street Building 05
                                                br
                                                | New York, NY
                                .col-md-6
                                    .office
                                        h4 Australia
                                        ul.office-details
                                            li
                                                i.fa.fa-mobile
                                                | +(55) 879 58 87 46
                                            li
                                                i.fa.fa-envelope-o
                                                | support@solo.com
                                            li
                                                i.fa.fa-map-marker
                                                | 507 Din Street Building 55
                                                br
                                                | Sydney, Australia
                        ul.social-list
                            li
                                a(href='#')
                                    i.fa.fa-facebook
                            li
                                a(href='#')
                                    i.fa.fa-twitter
                            li
                                a(href='#')
                                    i.fa.fa-google-plus
                .col-md-6
                    // Contact Right
                    #contact-right
                        form
                            h4 Send Message
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque cumq.
                            .row
                                .col-md-6.col-sm-6
                                    .form-group
                                        input#name.form-control(type='text', placeholder='Your Name')
                                .col-md-6.col-sm-6
                                    .form-group
                                        input#email.form-control(type='email', placeholder='Email Address')
                                .col-md-6.col-sm-6
                                    .form-group
                                        input#phone.form-control(type='text', placeholder='Phone No.')
                                .col-md-6.col-sm-6
                                    .form-group
                                        input#subject.form-control(type='text', placeholder='Subject')
                            .form-group
                                textarea#message.form-control(placeholder='Message')
                            #submit-btn
                                a.btn.btn-general.btn-yellow(href='#', title='Submit', role='button') Submit
// End of Contact