// Header
header
    nav.navbar.navbar-fixed-top.white-nav-top
        .container-fluid
            .site-nav-wrapper
                .navbar-header
                    // Logo
                    a.navbar-brand.smooth-scroll(href='')
                        img.logo-position(src='img/logo/luxury-spaces-logo.png', alt='logo')
                // Main Menu
                .container
                    .collapse.navbar-collapse
                        ul.nav.navbar-nav.pull-right
                            li
                                a.smooth-scroll(href='#home') Home
                            li
                                a.smooth-scroll(href='#about') About
                            li
                                a.smooth-scroll(href='#team') Team
                            li
                                a.smooth-scroll(href='#services') Services
                            li
                                a.smooth-scroll(href='#portfolio') Work
                            li
                                a.smooth-scroll(href='#blog') Blog
                            li
                                a.smooth-scroll(href='#contact') Contact
                #mobile-nav
                    span#mobile-nav-close-btn &times;
                    #mobile-nav-content
                        ul.nav
                            li
                                a.smooth-scroll(href='#home') Home
                            li
                                a.smooth-scroll(href='#about') About
                            li
                                a.smooth-scroll(href='#team') Team
                            li
                                a.smooth-scroll(href='#services') Services
                            li
                                a.smooth-scroll(href='#portfolio') Work
                            li
                                a.smooth-scroll(href='#blog') Blog
                            li
                                a.smooth-scroll(href='#contact') Contact
// End of Header