// Home
section#home
    video#home-bg-video(poster='video/vacation-video-8.jpg', autoplay='', loop='', muted='')
        source(src='video/luxury-spaces.mp4', type='video/mp4')
        // <source src="video/solo.ogv" type="video/ogv">
        // <source src="video/solo.webm" type="video/webm">
    #home-overlay
    #home-content
        #home-content-inner.text-center
            // <img src="img/logo/vacation-logo-transparent.png" class="logo-position-2" alt="logo">
            #home-heading
                h1#home-heading-1 Luxury Spaces
                br
                // <h1 id="home-heading-2">Creative <span>Agency</span></h1>
            // <div id="home-text">
            // <p>Dedicated to helping businesses reach their marketing goals.</p>
            // </div>
            // <div id="home-btn">
            // <a class="btn btn-general btn-home smooth-scroll" href="#about" title="Start Now" role="button" >Start Now</a>
            // </div>
    a#arrow-down.smooth-scroll(href='#about')
        i.fa.fa-angle-down
// end of home