// Services
section#services
    .col-md-12
        .vertical-heading
            // <h5>Find Out Work</h5>
            h2(style='margin: 120px 0 60px 0; text-align: center; color: #000')
                | Tropical
                strong Vacations
    #services-02
        .content-box-md(style='padding: 0;')
            #services-tabs(style='background: #eaddb2; padding-bottom: 60px;')
                ul.text-center
                    li
                        a(href='#service-tab-1', style='color: #000') Maldives
                    li
                        a(href='#service-tab-2', style='color: #000') Tahiti
                    li
                        a(href='#service-tab-3', style='color: #000') St. Barts
                    li
                        a(href='#service-tab-4', style='color: #000') Hawaii
                    li
                        a(href='#service-tab-5', style='color: #000') Belize
                    li
                        a(href='#service-tab-6', style='color: #000') Bali
                // Service Tab 01
                #service-tab-1.service-tab
                    .container
                        .row
                            .col-md-6
                                img(src='img/portfolio/luxury-beach-1.jpg', style='height: 481px;', alt='creativity')
                            .col-md-6
                                .tab-bg
                                    h2 01
                                    h3 Get More From Life With Creativity
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium alias illum laborum provident quibusdam saepe similique vitae. Animi cum debitis exercitationem fugit harum officia porro, quia quos similique suscipit!
                                    .services-02-btn
                                        a.btn.btn-general.btn-yellow(href='#services', title='Get In Touch', role='button') Get In Touch
                // Service Tab 02
                #service-tab-2.service-tab
                    .container
                        .row
                            .col-md-6
                                img(src='img/portfolio/luxury-beach-2.jpg', style='height: 481px;', alt='creativity')
                            .col-md-6
                                .tab-bg
                                    h2 02
                                    h3 Get More From Life With Creativity
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium alias illum laborum provident quibusdam saepe similique vitae. Animi cum debitis exercitationem fugit harum officia porro, quia quos similique suscipit!
                                    .services-02-btn
                                        a.btn.btn-general.btn-yellow(href='#services', title='Get In Touch', role='button') Get In Touch
                // Service Tab 03
                #service-tab-3.service-tab
                    .container
                        .row
                            .col-md-6
                                img(src='img/services/service-tab-img-03.jpg', alt='creativity')
                            .col-md-6
                                .tab-bg
                                    h2 03
                                    h3 Get More From Life With Creativity
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium alias illum laborum provident quibusdam saepe similique vitae. Animi cum debitis exercitationem fugit harum officia porro, quia quos similique suscipit!
                                    .services-02-btn
                                        a.btn.btn-general.btn-yellow(href='#services', title='Get In Touch', role='button') Get In Touch
                // Service Tab 04
                #service-tab-4.service-tab
                    .container
                        .row
                            .col-md-6
                                img(src='img/services/service-tab-img-04.jpg', alt='creativity')
                            .col-md-6
                                .tab-bg
                                    h2 04
                                    h3 Get More From Life With Creativity
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium alias illum laborum provident quibusdam saepe similique vitae. Animi cum debitis exercitationem fugit harum officia porro, quia quos similique suscipit!
                                    .services-02-btn
                                        a.btn.btn-general.btn-yellow(href='#services', title='Get In Touch', role='button') Get In Touch
                // Service Tab 04
                #service-tab-5.service-tab
                    .container
                        .row
                            .col-md-6
                                img(src='img/services/service-tab-img-04.jpg', alt='creativity')
                            .col-md-6
                                .tab-bg
                                    h2 04
                                    h3 Get More From Life With Creativity
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium alias illum laborum provident quibusdam saepe similique vitae. Animi cum debitis exercitationem fugit harum officia porro, quia quos similique suscipit!
                                    .services-02-btn
                                        a.btn.btn-general.btn-yellow(href='#services', title='Get In Touch', role='button') Get In Touch
                // Service Tab 04
                #service-tab-6.service-tab
                    .container
                        .row
                            .col-md-6
                                img(src='img/services/service-tab-img-04.jpg', alt='creativity')
                            .col-md-6
                                .tab-bg
                                    h2 04
                                    h3 Get More From Life With Creativity
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium alias illum laborum provident quibusdam saepe similique vitae. Animi cum debitis exercitationem fugit harum officia porro, quia quos similique suscipit!
                                    .services-02-btn
                                        a.btn.btn-general.btn-yellow(href='#services', title='Get In Touch', role='button') Get In Touch
// End of Services
// ServicesB
section#servicesB
    .col-md-12
        .vertical-heading
            // <h5>Find Out Work</h5>
            h2(style='margin: 100px 0 60px 0; text-align: center; color: #000')
                | Vacation
                strong Guide
    #servicesB-02
        .content-box-md(style='padding: 0;')
            #servicesB-tabs(style='padding-bottom: 60px; background: #212226;')
                ul.text-center
                    li
                        a(href='#servicesB-tab-1') Creativity
                    li
                        a(href='#servicesB-tab-2') Strategy
                    li
                        a(href='#servicesB-tab-3') Design
                    li
                        a(href='#servicesB-tab-4') Development
                // Service Tab 01
                #servicesB-tab-1.service-tab
                    .container
                        .row
                            .col-md-6
                                img(src='img/services/service-tab-img-01.jpg', alt='creativity')
                            .col-md-6
                                .tab-bg
                                    h2 01
                                    h3 Get More From Life With Creativity
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium alias illum laborum provident quibusdam saepe similique vitae. Animi cum debitis exercitationem fugit harum officia porro, quia quos similique suscipit!
                                    .services-02-btn
                                        a.btn.btn-general.btn-yellow(href='#services', title='Get In Touch', role='button') Get In Touch
                // Service Tab 02
                #servicesB-tab-2.service-tab
                    .container
                        .row
                            .col-md-6
                                img(src='img/services/service-tab-img-02.jpg', alt='creativity')
                            .col-md-6
                                .tab-bg
                                    h2 02
                                    h3 Get More From Life With Creativity
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium alias illum laborum provident quibusdam saepe similique vitae. Animi cum debitis exercitationem fugit harum officia porro, quia quos similique suscipit!
                                    .services-02-btn
                                        a.btn.btn-general.btn-yellow(href='#services', title='Get In Touch', role='button') Get In Touch
                // Service Tab 03
                #servicesB-tab-3.service-tab
                    .container
                        .row
                            .col-md-6
                                img(src='img/services/service-tab-img-03.jpg', alt='creativity')
                            .col-md-6
                                .tab-bg
                                    h2 03
                                    h3 Get More From Life With Creativity
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium alias illum laborum provident quibusdam saepe similique vitae. Animi cum debitis exercitationem fugit harum officia porro, quia quos similique suscipit!
                                    .services-02-btn
                                        a.btn.btn-general.btn-yellow(href='#services', title='Get In Touch', role='button') Get In Touch
                // Service Tab 04
                #servicesB-tab-4.service-tab
                    .container
                        .row
                            .col-md-6
                                img(src='img/services/service-tab-img-04.jpg', alt='creativity')
                            .col-md-6
                                .tab-bg
                                    h2 04
                                    h3 Get More From Life With Creativity
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium alias illum laborum provident quibusdam saepe similique vitae. Animi cum debitis exercitationem fugit harum officia porro, quia quos similique suscipit!
                                    .services-02-btn
                                        a.btn.btn-general.btn-yellow(href='#services', title='Get In Touch', role='button') Get In Touch
// End of ServicesB
// ServicesC
section#servicesC
    .col-md-12
        .vertical-heading
            // <h5>Find Out Work</h5>
            h2(style='margin: 120px 0 60px 0; text-align: center; color: #fff')
                | Vacation
                strong Guide
    #servicesC-02
        .content-box-md(style='padding: 0;')
            #servicesC-tabs(style='background: #eaddb2; padding-bottom: 60px;')
                ul.text-center
                    li
                        a(href='#servicesC-tab-1', style='color: #fff') Creativity
                    li
                        a(href='#servicesC-tab-2', style='color: #fff') Strategy
                    li
                        a(href='#servicesC-tab-3', style='color: #fff') Design
                    li
                        a(href='#servicesC-tab-4', style='color: #fff') Development
                // Service Tab 01
                #servicesC-tab-1.service-tab
                    .container
                        .row
                            .col-md-6
                                img(src='img/services/service-tab-img-01.jpg', alt='creativity')
                            .col-md-6
                                .tab-bg
                                    h2 01
                                    h3 Get More From Life With Creativity
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium alias illum laborum provident quibusdam saepe similique vitae. Animi cum debitis exercitationem fugit harum officia porro, quia quos similique suscipit!
                                    .services-02-btn
                                        a.btn.btn-general.btn-yellow(href='#services', title='Get In Touch', role='button') Get In Touch
                // Service Tab 02
                #servicesC-tab-2.service-tab
                    .container
                        .row
                            .col-md-6
                                img(src='img/services/service-tab-img-02.jpg', alt='creativity')
                            .col-md-6
                                .tab-bg
                                    h2 02
                                    h3 Get More From Life With Creativity
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium alias illum laborum provident quibusdam saepe similique vitae. Animi cum debitis exercitationem fugit harum officia porro, quia quos similique suscipit!
                                    .services-02-btn
                                        a.btn.btn-general.btn-yellow(href='#services', title='Get In Touch', role='button') Get In Touch
                // Service Tab 03
                #servicesC-tab-3.service-tab
                    .container
                        .row
                            .col-md-6
                                img(src='img/services/service-tab-img-03.jpg', alt='creativity')
                            .col-md-6
                                .tab-bg
                                    h2 03
                                    h3 Get More From Life With Creativity
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium alias illum laborum provident quibusdam saepe similique vitae. Animi cum debitis exercitationem fugit harum officia porro, quia quos similique suscipit!
                                    .services-02-btn
                                        a.btn.btn-general.btn-yellow(href='#services', title='Get In Touch', role='button') Get In Touch
                // Service Tab 04
                #servicesC-tab-4.service-tab
                    .container
                        .row
                            .col-md-6
                                img(src='img/services/service-tab-img-04.jpg', alt='creativity')
                            .col-md-6
                                .tab-bg
                                    h2 04
                                    h3 Get More From Life With Creativity
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium alias illum laborum provident quibusdam saepe similique vitae. Animi cum debitis exercitationem fugit harum officia porro, quia quos similique suscipit!
                                    .services-02-btn
                                        a.btn.btn-general.btn-yellow(href='#services', title='Get In Touch', role='button') Get In Touch
// End of ServicesB