// Stats
section#stats
    .content-box-md
        .container
            .row
                .col-md-12
                    .vertical-heading
                        h5 Fun Facts
                        h2
                            | We Deliver
                            br
                            strong.e-bold-w Excellent
                            |  Services
            .row
                .col-md-3.col-sm-3.col-xs-6
                    // Stats Item 01
                    .stats-item.text-center
                        i.fa.fa-bar-chart
                        h3.counter 15
                        p Years Experience
                .col-md-3.col-sm-3.col-xs-6
                    // Stats Item 02
                    .stats-item.text-center
                        i.fa.fa-codepen
                        h3.counter 476
                        p Projects Done
                .col-md-3.col-sm-3.col-xs-6
                    // Stats Item 03
                    .stats-item.text-center
                        i.fa.fa-trophy
                        h3.counter 115
                        p Awards Received
                .col-md-3.col-sm-3.col-xs-6
                    // Stats Item 04
                    .stats-item.text-center
                        i.fa.fa-user
                        h3.counter 276
                        p Happy Clients
// End of Stats