// Statement
section#statement
    .content-box-lg
        .container
            .row
                .col-md-12
                    #tech-statement.text-center
                        h3
                            i.fa.fa-quote-left
                            |  We design and develop services for customers of all sizes,
                            br
                            |  specializing in creating stylish, modern websites and online stores.
                            i.fa.fa-quote-right
                        p - Daniel Watrous -
// End of Statement