// Team
section#team
    .content-box-md
        .container
            .row
                .col-md-6
                    #team-left
                        .vertical-heading
                            h5 Who We Are
                            h2
                                | Meet Our
                                br
                                strong Talented
                                |  Team
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab eos eveniet excepturi harum nobis officiis quia sunt ut vitae voluptate.
                .col-md-6
                    #team-members.owl-carousel.owl-theme
                        .team-member
                            img.img-responsive(src='img/team/team-1.jpg', alt='team member')
                            .team-member-overlay
                                .team-member-info.text-center
                                    h6 Kevin Greer
                                    p Web Designer
                                    ul.social-list
                                        li
                                            a(href='#')
                                                i.fa.fa-facebook
                                        li
                                            a(href='#')
                                                i.fa.fa-twitter
                                        li
                                            a(href='#')
                                                i.fa.fa-google-plus
                        .team-member
                            img.img-responsive(src='img/team/team-2.jpg', alt='team member')
                            .team-member-overlay
                                .team-member-info.text-center
                                    h6 Christian Cilinis
                                    p Web Developer
                                    ul.social-list
                                        li
                                            a(href='#')
                                                i.fa.fa-facebook
                                        li
                                            a(href='#')
                                                i.fa.fa-twitter
                                        li
                                            a(href='#')
                                                i.fa.fa-google-plus
                        .team-member
                            img.img-responsive(src='img/team/team-3.jpg', alt='team member')
                            .team-member-overlay
                                .team-member-info.text-center
                                    h6 Andrea Arkov
                                    p Senior Developer
                                    ul.social-list
                                        li
                                            a(href='#')
                                                i.fa.fa-facebook
                                        li
                                            a(href='#')
                                                i.fa.fa-twitter
                                        li
                                            a(href='#')
                                                i.fa.fa-google-plus
                        .team-member
                            img.img-responsive(src='img/team/team-4.jpg', alt='team member')
                            .team-member-overlay
                                .team-member-info.text-center
                                    h6 Harold Houdini
                                    p Art Director
                                    ul.social-list
                                        li
                                            a(href='#')
                                                i.fa.fa-facebook
                                        li
                                            a(href='#')
                                                i.fa.fa-twitter
                                        li
                                            a(href='#')
                                                i.fa.fa-google-plus
                        .team-member
                            img.img-responsive(src='img/team/team-5.jpg', alt='team member')
                            .team-member-overlay
                                .team-member-info.text-center
                                    h6 Angelia Perry
                                    p Manager
                                    ul.social-list
                                        li
                                            a(href='#')
                                                i.fa.fa-facebook
                                        li
                                            a(href='#')
                                                i.fa.fa-twitter
                                        li
                                            a(href='#')
                                                i.fa.fa-google-plus
                        .team-member
                            img.img-responsive(src='img/team/team-6.jpg', alt='team member')
                            .team-member-overlay
                                .team-member-info.text-center
                                    h6 Kara Kulus
                                    p Marketing &amp; Sales
                                    ul.social-list
                                        li
                                            a(href='#')
                                                i.fa.fa-facebook
                                        li
                                            a(href='#')
                                                i.fa.fa-twitter
                                        li
                                            a(href='#')
                                                i.fa.fa-google-plus
                // <div id="progress-elements">
                // &lt;!&ndash; Progress Bars &ndash;&gt;
                // <div class="row">
                // <div class="col-md-6">
                // &lt;!&ndash; Skill 01 &ndash;&gt;
                // <div class="skill">
                // <h4>Web Design</h4>
                // <div class="progress">
                // <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%;">
                // <span>95%</span>
                // </div>
                // </div>
                // </div>
                // </div>
                // <div class="col-md-6">
                // &lt;!&ndash; Skill 02 &ndash;&gt;
                // <div class="skill">
                // <h4>Photoshop/Illustration</h4>
                // <div class="progress">
                // <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
                // <span>75%</span>
                // </div>
                // </div>
                // </div>
                // </div>
                // <div class="col-md-6">
                // &lt;!&ndash; Skill 03 &ndash;&gt;
                // <div class="skill">
                // <h4>Web Development</h4>
                // <div class="progress">
                // <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
                // <span>75%</span>
                // </div>
                // </div>
                // </div>
                // </div>
                // <div class="col-md-6">
                // &lt;!&ndash; Skill 04 &ndash;&gt;
                // <div class="skill">
                // <h4>Digital Marketing</h4>
                // <div class="progress">
                // <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                // <span>90%</span>
                // </div>
                // </div>
                // </div>
                // </div>
                // </div>
                // </div>
// End of Team