// Testimonials
section#testimonials
    .container
        .row
            .col-md-4
                .vertical-heading
                    h5 Who We Are
                    h2
                        | What Our
                        br
                        strong Customers
                        |  Say
            .col-md-8.col-sm-8
                #testimonial-slider.owl-carousel.owl-theme
                    // Testimonial 01
                    .testimonial
                        .row
                            .col-md-6.col-sm-6.col-xs-6
                                h3 Quality Support
                            .col-md-6.col-sm-6.col-xs-6
                                .stars.text-right
                                    i.fa.fa-star
                                    i.fa.fa-star
                                    i.fa.fa-star
                                    i.fa.fa-star
                                    i.fa.fa-star
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus animi assumenda distinctio dolor eos exercitationem fugiat, nisi, nulla officia sunt unde voluptatum. A inventore laborum mollitia odit, perspiciatis qui sequi.
                        .author
                            .row
                                .col-md-2.col-sm-3.col-xs-6
                                    img.img-fluid.rounded-circle.test-pic-s(src='img/testimonial/client-1.jpg', alt='client')
                                .col-md-10.col-sm-3.col-xs-6
                                    .author-name-des
                                        p Joq Martin
                                        p Senior Developer
                    // Testimonial 02
                    .testimonial
                        .row
                            .col-md-6.col-sm-6.col-xs-6
                                h3 Quality Support
                            .col-md-6.col-sm-6.col-xs-6
                                .stars.text-right
                                    i.fa.fa-star
                                    i.fa.fa-star
                                    i.fa.fa-star
                                    i.fa.fa-star
                                    i.fa.fa-star
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus animi assumenda distinctio dolor eos exercitationem fugiat, nisi, nulla officia sunt unde voluptatum. A inventore laborum mollitia odit, perspiciatis qui sequi.
                        .author
                            .row
                                .col-md-2.col-sm-3.col-xs-6
                                    img.img-fluid.rounded-circle.test-pic-s(src='img/testimonial/client-2.jpg', alt='client')
                                .col-md-10.col-sm-3.col-xs-6
                                    .author-name-des
                                        p Jacob Bailey
                                        p Back-End Developer
                    // Testimonial 03
                    .testimonial
                        .row
                            .col-md-6.col-sm-6.col-xs-6
                                h3 Quality Support
                            .col-md-6.col-sm-6.col-xs-6
                                .stars.text-right
                                    i.fa.fa-star
                                    i.fa.fa-star
                                    i.fa.fa-star
                                    i.fa.fa-star
                                    i.fa.fa-star
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus animi assumenda distinctio dolor eos exercitationem fugiat, nisi, nulla officia sunt unde voluptatum. A inventore laborum mollitia odit, perspiciatis qui sequi.
                        .author
                            .row
                                .col-md-2.col-sm-3.col-xs-6
                                    img.img-fluid.rounded-circle.test-pic-s(src='img/testimonial/client-3.jpg', alt='client')
                                .col-md-10.col-sm-3.col-xs-6
                                    .author-name-des
                                        p Stacey Bell
                                        p Project Manager
// End of Testimonials