doctype html
head
    // Important Meta tags
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    // Title
    title Luxury Spaces
    // Favicon
    link(rel='shortcut icon', href='img/favicon/favicon-new.png')
    // Google Fonts
    link(href='https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700', rel='stylesheet')
    // Font awesome
    link(rel='stylesheet', href='css/font-awesome/css/font-awesome.min.css')
    // Bootstrap CSS
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
    // Owl Carousel CSS
    link(rel='stylesheet', href='css/owl-carousel/owl.carousel.min.css')
    link(rel='stylesheet', href='css/owl-carousel/owl.theme.default.min.css')
    // Responsive Tabs CSS
    link(rel='stylesheet', href='css/responsive-tabs/responsive-tabs.css')
    // Magnific Popup
    link(rel='stylesheet', href='css/magnific-popup/magnific-popup.css')
    // Custom CSS
    link(rel='stylesheet', href='css/style.css')
    link(rel='stylesheet', href='css/responsive.css')
// Preloader
#preloader
    #status &nbsp;
// Header
header
    nav.navbar.navbar-fixed-top.white-nav-top
        .container-fluid
            .site-nav-wrapper
                .navbar-header
                    // Logo
                    a.navbar-brand.smooth-scroll(href='')
                        img.logo-position(src='img/logo/luxury-spaces-logo.png', alt='logo')
                // Main Menu
                .container
                    .collapse.navbar-collapse
                        ul.nav.navbar-nav.pull-right
                            li
                                a.smooth-scroll(href='#home') Home
                            li
                                a.smooth-scroll(href='#about') About
                            li
                                a.smooth-scroll(href='#team') Team
                            li
                                a.smooth-scroll(href='#services') Services
                            li
                                a.smooth-scroll(href='#portfolio') Work
                            li
                                a.smooth-scroll(href='#blog') Blog
                            li
                                a.smooth-scroll(href='#contact') Contact
                #mobile-nav
                    span#mobile-nav-close-btn &times;
                    #mobile-nav-content
                        ul.nav
                            li
                                a.smooth-scroll(href='#home') Home
                            li
                                a.smooth-scroll(href='#about') About
                            li
                                a.smooth-scroll(href='#team') Team
                            li
                                a.smooth-scroll(href='#services') Services
                            li
                                a.smooth-scroll(href='#portfolio') Work
                            li
                                a.smooth-scroll(href='#blog') Blog
                            li
                                a.smooth-scroll(href='#contact') Contact
// End of Header
// Home
section#home
    video#home-bg-video(poster='video/vacation-video-8.jpg', autoplay='', loop='', muted='')
        source(src='video/luxury-spaces.mp4', type='video/mp4')
        // <source src="video/solo.ogv" type="video/ogv">
        // <source src="video/solo.webm" type="video/webm">
    #home-overlay
    #home-content
        #home-content-inner.text-center
            // <img src="img/logo/vacation-logo-transparent.png" class="logo-position-2" alt="logo">
            #home-heading
                h1#home-heading-1 Luxury Spaces
                br
                // <h1 id="home-heading-2">Creative <span>Agency</span></h1>
            // <div id="home-text">
            // <p>Dedicated to helping businesses reach their marketing goals.</p>
            // </div>
            // <div id="home-btn">
            // <a class="btn btn-general btn-home smooth-scroll" href="#about" title="Start Now" role="button" >Start Now</a>
            // </div>
    a#arrow-down.smooth-scroll(href='#about')
        i.fa.fa-angle-down
// end of home
// About
section#about(style='display: none;')
    #about-02
        .content-box-md
            .container
                .row
                    .col-md-4
                        .about-item.text-center
                            i.fa.fa-rocket
                            h3 Mission
                            hr
                            p
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi consectetur dolore ducimus fugiat id in.
                    .col-md-4
                        .about-item.text-center
                            i.fa.fa-eye
                            h3 Vision
                            hr
                            p
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi consectetur dolore ducimus fugiat id in.
                    .col-md-4
                        .about-item.text-center
                            i.fa.fa-pencil
                            h3 Passion
                            hr
                            p
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi consectetur dolore ducimus fugiat id in.
    // <div id="about-01">
    // <div class="content-box-lg">
    // <div class="container">
    // &lt;!&ndash;                <div class="row">&ndash;&gt;
    // &lt;!&ndash;                    <div class="col-md-6">&ndash;&gt;
    // &lt;!&ndash;                        <div id="about-left">&ndash;&gt;
    // &lt;!&ndash;                            <div class="vertical-heading">&ndash;&gt;
    // &lt;!&ndash;                                <h5>Who We Are</h5>&ndash;&gt;
    // &lt;!&ndash;                                <h2>A <strong>Story</strong><br>About Us</h2>&ndash;&gt;
    // &lt;!&ndash;                            </div>&ndash;&gt;
    // &lt;!&ndash;                        </div>&ndash;&gt;
    // &lt;!&ndash;                    </div>&ndash;&gt;
    // &lt;!&ndash;                    <div class="col-md-6">&ndash;&gt;
    // &lt;!&ndash;                        <div id="about-right">&ndash;&gt;
    // &lt;!&ndash;                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur atque consequuntur dignissimos dolores, earum fuga illum. Aspernatur atque consequuntur dignissimos dolores, earum fuga illum.</p>&ndash;&gt;
    // &lt;!&ndash;                            <p>inventore ipsum laborum molestias mollitia nostrum placeat provident quasi qui repellat sit voluptas voluptate. Aspernatur atque consequuntur dignissimos dolores, earum fuga illum.</p>&ndash;&gt;
    // &lt;!&ndash;                        </div>&ndash;&gt;
    // &lt;!&ndash;                    </div>&ndash;&gt;
    // &lt;!&ndash;                </div>&ndash;&gt;
    // <div class="row">
    // <div class="col-md-12">
    // <div id="about-bottom">
    // <img src="img/about/about2.png" alt="About Us" class="img-responsive">
    // </div>
    // </div>
    // </div>
    // </div>
    // </div>
    // </div>
// End of About
// Portfolio
section#portfolio(style='padding-bottom: 0;\
/*background: #212226;*/\
background: rgba(0,0,0,.0001)\
')
    .isotope-filters
        .container
            .row
                // <div class="col-md-12">
                // <div class="vertical-heading">
                // &lt;!&ndash;                        <h5>Find Out Work</h5>&ndash;&gt;
                // <h2 style="margin: 60px 0 0 0; text-align: center; color: #fff;">Travel <strong>Gallery</strong></h2>
                // </div>
                // </div>
                .col-md-12
                    .margin-bottom-g(style='text-align: center;\
          /*background: rgba(0,0,0,.1)*/\
          ')
                        button.btn.btn-yellow.active-item.gallery-list-item(data-filter='all')
                            span All
                        button.btn.btn-yellow.gallery-list-item(data-filter='tropics')
                            span Tropics
                        button.btn.btn-yellow.gallery-list-item(data-filter='mountains')
                            span Mountains
                        button.btn.btn-yellow.gallery-list-item(data-filter='city')
                            span City
                        button.btn.btn-yellow.gallery-list-item(data-filter='desert')
                            span Desert
        // Portfolio items Wrapper
        section#portfolio-wrapper
            .container-fluid.center-pics
                .row.no-gutters
                    .isotope-filters
                        .col-md-2.col-sm-6.col-xs-12.div-size.filter.tropics
                            // Portfolio Item 01
                            .portfolio-item.portfolio-pic.no-underline
                                a(href='img/portfolio/luxury-beach-1.jpg', title='Add Description')
                                    img.img-responsive(src='img/portfolio/luxury-beach-1.jpg', alt='portfolio 01')
                                    .portfolio-item-overlay.margin-top-g
                                        .portfolio-item-details.text-center
                                            // Item Header
                                            h3 Maldives
                                            // Item Strips
                                            span
                                            // Item Description
                                            p Tropics
                        .col-md-2.col-sm-6.col-xs-12.div-size.filter.mountains
                            .portfolio-item.portfolio-pic
                                a(href='img/portfolio/luxury-mountains-1.jpg', title='Add Description')
                                    img.img-responsive(src='img/portfolio/luxury-mountains-1.jpg', alt='portfolio 02')
                                    .portfolio-item-overlay.margin-top-g
                                        .portfolio-item-details.text-center
                                            // Item Header
                                            h3 Catalina
                                            // Item Strips
                                            span
                                            // Item Description
                                            p Mountains
                        .col-md-2.col-sm-6.col-xs-12.div-size.filter.city
                            .portfolio-item.portfolio-pic
                                a(href='img/portfolio/luxury-city-1.jpg', title='Add Description')
                                    img.img-responsive(src='img/portfolio/luxury-city-1.jpg', alt='portfolio 03')
                                    .portfolio-item-overlay.margin-top-g
                                        .portfolio-item-details.text-center
                                            // Item Header
                                            h3 Miami
                                            // Item Strips
                                            span
                                            // Item Description
                                            p City
                        .col-md-2.col-sm-6.col-xs-12.div-size.filter.desert
                            .portfolio-item.portfolio-pic
                                a(href='img/portfolio/luxury-desert-1.jpg', title='Add Description')
                                    img.img-responsive(src='img/portfolio/luxury-desert-1.jpg', alt='portfolio 04')
                                    .portfolio-item-overlay.margin-top-g
                                        .portfolio-item-details.text-center
                                            // Item Header
                                            h3 Utah
                                            // Item Strips
                                            span
                                            // Item Description
                                            p Desert
                        .col-md-2.col-sm-6.col-xs-12.div-size.filter.tropics
                            // Portfolio Item 01
                            .portfolio-item.portfolio-pic.no-underline
                                a(href='img/portfolio/luxury-beach-2.jpg', title='Add Description')
                                    img.img-responsive(src='img/portfolio/luxury-beach-2.jpg', alt='portfolio 01')
                                    .portfolio-item-overlay.margin-top-g
                                        .portfolio-item-details.text-center
                                            // Item Header
                                            h3 Tahiti
                                            // Item Strips
                                            span
                                            // Item Description
                                            p Tropics
                        .col-md-2.col-sm-6.col-xs-12.div-size.filter.mountains
                            .portfolio-item.portfolio-pic
                                a(href='img/portfolio/luxury-mountains-2.jpg', title='Add Description')
                                    img.img-responsive(src='img/portfolio/luxury-mountains-2.jpg', alt='portfolio 02')
                                    .portfolio-item-overlay.margin-top-g
                                        .portfolio-item-details.text-center
                                            // Item Header
                                            h3 Oregon
                                            // Item Strips
                                            span
                                            // Item Description
                                            p Mountains
                        .col-md-2.col-sm-6.col-xs-12.div-size.filter.city
                            .portfolio-item.portfolio-pic
                                a(href='img/portfolio/luxury-city-2.jpg', title='Add Description')
                                    img.img-responsive(src='img/portfolio/luxury-city-2.jpg', alt='portfolio 03')
                                    .portfolio-item-overlay.margin-top-g
                                        .portfolio-item-details.text-center
                                            // Item Header
                                            h3 London
                                            // Item Strips
                                            span
                                            // Item Description
                                            p City
                        .col-md-2.col-sm-6.col-xs-12.div-size.filter.desert
                            .portfolio-item.portfolio-pic
                                a(href='img/portfolio/luxury-desert-2.jpg', title='Add Description')
                                    img.img-responsive(src='img/portfolio/luxury-desert-2.jpg', alt='portfolio 04')
                                    .portfolio-item-overlay.margin-top-g
                                        .portfolio-item-details.text-center
                                            // Item Header
                                            h3 Vegas
                                            // Item Strips
                                            span
                                            // Item Description
                                            p Desert
                        .col-md-2.col-sm-6.col-xs-12.div-size.filter.tropics
                            // Portfolio Item 01
                            .portfolio-item.portfolio-pic.no-underline
                                a(href='img/portfolio/luxury-beach-3.jpg', title='Add Description')
                                    img.img-responsive(src='img/portfolio/luxury-beach-3.jpg', alt='portfolio 01')
                                    .portfolio-item-overlay.margin-top-g
                                        .portfolio-item-details.text-center
                                            // Item Header
                                            h3 St. Barts
                                            // Item Strips
                                            span
                                            // Item Description
                                            p Tropics
                        .col-md-2.col-sm-6.col-xs-12.div-size.filter.mountains
                            .portfolio-item.portfolio-pic
                                a(href='img/portfolio/luxury-mountains-3.jpg', title='Add Description')
                                    img.img-responsive(src='img/portfolio/luxury-mountains-3.jpg', alt='portfolio 02')
                                    .portfolio-item-overlay.margin-top-g
                                        .portfolio-item-details.text-center
                                            // Item Header
                                            h3 Brazil
                                            // Item Strips
                                            span
                                            // Item Description
                                            p Mountains
                        .col-md-2.col-sm-6.col-xs-12.div-size.filter.city
                            .portfolio-item.portfolio-pic
                                a(href='img/portfolio/luxury-city-3.jpg', title='Add Description')
                                    img.img-responsive(src='img/portfolio/luxury-city-3.jpg', alt='portfolio 03')
                                    .portfolio-item-overlay.margin-top-g
                                        .portfolio-item-details.text-center
                                            // Item Header
                                            h3 Salt Lake
                                            // Item Strips
                                            span
                                            // Item Description
                                            p City
                        .col-md-2.col-sm-6.col-xs-12.div-size.filter.desert
                            .portfolio-item.portfolio-pic
                                a(href='img/portfolio/luxury-desert-3.jpg', title='Add Description')
                                    img.img-responsive(src='img/portfolio/luxury-desert-3.jpg', alt='portfolio 04')
                                    .portfolio-item-overlay.margin-top-g
                                        .portfolio-item-details.text-center
                                            // Item Header
                                            h3 Joshua Tree
                                            // Item Strips
                                            span
                                            // Item Description
                                            p Desert
                        .col-md-2.col-sm-6.col-xs-12.div-size.filter.tropics
                            // Portfolio Item 01
                            .portfolio-item.portfolio-pic.no-underline
                                a(href='img/portfolio/luxury-beach-4.jpg', title='Add Description')
                                    img.img-responsive(src='img/portfolio/luxury-beach-4.jpg', alt='portfolio 01')
                                    .portfolio-item-overlay.margin-top-g
                                        .portfolio-item-details.text-center
                                            // Item Header
                                            h3 Hawaii
                                            // Item Strips
                                            span
                                            // Item Description
                                            p Tropics
                        .col-md-2.col-sm-6.col-xs-12.div-size.filter.mountains
                            .portfolio-item.portfolio-pic
                                a(href='img/portfolio/luxury-mountains-4.jpg', title='Add Description')
                                    img.img-responsive(src='img/portfolio/luxury-mountains-4.jpg', alt='portfolio 02')
                                    .portfolio-item-overlay.margin-top-g
                                        .portfolio-item-details.text-center
                                            // Item Header
                                            h3 Colorado
                                            // Item Strips
                                            span
                                            // Item Description
                                            p Mountains
                        .col-md-2.col-sm-6.col-xs-12.div-size.filter.city
                            .portfolio-item.portfolio-pic
                                a(href='img/portfolio/luxury-city-4.jpg', title='Add Description')
                                    img.img-responsive(src='img/portfolio/luxury-city-4.jpg', alt='portfolio 03')
                                    .portfolio-item-overlay.margin-top-g
                                        .portfolio-item-details.text-center
                                            // Item Header
                                            h3 Seattle
                                            // Item Strips
                                            span
                                            // Item Description
                                            p City
                        .col-md-2.col-sm-6.col-xs-12.div-size.filter.desert
                            .portfolio-item.portfolio-pic
                                a(href='img/portfolio/luxury-desert-4.jpg', title='Add Description')
                                    img.img-responsive(src='img/portfolio/luxury-desert-4.jpg', alt='portfolio 04')
                                    .portfolio-item-overlay.margin-top-g
                                        .portfolio-item-details.text-center
                                            // Item Header
                                            h3 Reno
                                            // Item Strips
                                            span
                                            // Item Description
                                            p Desert
                        .col-md-2.col-sm-6.col-xs-12.div-size.filter.tropics
                            // Portfolio Item 01
                            .portfolio-item.portfolio-pic.no-underline
                                a(href='img/portfolio/luxury-beach-5.jpg', title='Add Description')
                                    img.img-responsive(src='img/portfolio/luxury-beach-5.jpg', alt='portfolio 01')
                                    .portfolio-item-overlay.margin-top-g
                                        .portfolio-item-details.text-center
                                            // Item Header
                                            h3 Belize
                                            // Item Strips
                                            span
                                            // Item Description
                                            p Tropics
                        .col-md-2.col-sm-6.col-xs-12.div-size.filter.mountains
                            .portfolio-item.portfolio-pic
                                a(href='img/portfolio/luxury-mountains-5.jpg', title='Add Description')
                                    img.img-responsive(src='img/portfolio/luxury-mountains-5.jpg', alt='portfolio 02')
                                    .portfolio-item-overlay.margin-top-g
                                        .portfolio-item-details.text-center
                                            // Item Header
                                            h3 Vancouver
                                            // Item Strips
                                            span
                                            // Item Description
                                            p Mountains
                        .col-md-2.col-sm-6.col-xs-12.div-size.filter.city
                            .portfolio-item.portfolio-pic
                                a(href='img/portfolio/luxury-city-5.jpg', title='Add Description')
                                    img.img-responsive(src='img/portfolio/luxury-city-5.jpg', alt='portfolio 03')
                                    .portfolio-item-overlay.margin-top-g
                                        .portfolio-item-details.text-center
                                            // Item Header
                                            h3 Dubai
                                            // Item Strips
                                            span
                                            // Item Description
                                            p City
                        .col-md-2.col-sm-6.col-xs-12.div-size.filter.desert
                            .portfolio-item.portfolio-pic
                                a(href='img/portfolio/luxury-desert-5.jpg', title='Add Description')
                                    img.img-responsive(src='img/portfolio/luxury-desert-5.jpg', alt='portfolio 04')
                                    .portfolio-item-overlay.margin-top-g
                                        .portfolio-item-details.text-center
                                            // Item Header
                                            h3 Sedona
                                            // Item Strips
                                            span
                                            // Item Description
                                            p Desert
                        .col-md-2.col-sm-6.col-xs-12.div-size.filter.tropics
                            // Portfolio Item 01
                            .portfolio-item.portfolio-pic.no-underline
                                a(href='img/portfolio/luxury-beach-6.jpg', title='Add Description')
                                    img.img-responsive(src='img/portfolio/luxury-beach-6.jpg', alt='portfolio 01')
                                    .portfolio-item-overlay.margin-top-g
                                        .portfolio-item-details.text-center
                                            // Item Header
                                            h3 Bali
                                            // Item Strips
                                            span
                                            // Item Description
                                            p Tropics
                        .col-md-2.col-sm-6.col-xs-12.div-size.filter.mountains
                            .portfolio-item.portfolio-pic
                                a(href='img/portfolio/luxury-mountains-6.jpg', title='Add Description')
                                    img.img-responsive(src='img/portfolio/luxury-mountains-6.jpg', alt='portfolio 02')
                                    .portfolio-item-overlay.margin-top-g
                                        .portfolio-item-details.text-center
                                            // Item Header
                                            h3 Alaska
                                            // Item Strips
                                            span
                                            // Item Description
                                            p Mountains
                        .col-md-2.col-sm-6.col-xs-12.div-size.filter.city
                            .portfolio-item.portfolio-pic
                                a(href='img/portfolio/luxury-city-6.jpg', title='Add Description')
                                    img.img-responsive(src='img/portfolio/luxury-city-6.jpg', alt='portfolio 03')
                                    .portfolio-item-overlay.margin-top-g
                                        .portfolio-item-details.text-center
                                            // Item Header
                                            h3 Detroit
                                            // Item Strips
                                            span
                                            // Item Description
                                            p City
                        .col-md-2.col-sm-6.col-xs-12.div-size.filter.desert
                            .portfolio-item.portfolio-pic
                                a(href='img/portfolio/luxury-desert-6.jpg', title='Add Description')
                                    img.img-responsive(src='img/portfolio/luxury-desert-6.jpg', alt='portfolio 04')
                                    .portfolio-item-overlay.margin-top-g
                                        .portfolio-item-details.text-center
                                            // Item Header
                                            h3 Phoenix
                                            // Item Strips
                                            span
                                            // Item Description
                                            p Desert
// End of Portfolio
// Services
section#services
    .col-md-12
        .vertical-heading
            // <h5>Find Out Work</h5>
            h2(style='margin: 120px 0 60px 0; text-align: center; color: #000')
                | Tropical
                strong Vacations
    #services-02
        .content-box-md(style='padding: 0;')
            #services-tabs(style='background: #eaddb2; padding-bottom: 60px;')
                ul.text-center
                    li
                        a(href='#service-tab-1', style='color: #000') Maldives
                    li
                        a(href='#service-tab-2', style='color: #000') Tahiti
                    li
                        a(href='#service-tab-3', style='color: #000') St. Barts
                    li
                        a(href='#service-tab-4', style='color: #000') Hawaii
                    li
                        a(href='#service-tab-5', style='color: #000') Belize
                    li
                        a(href='#service-tab-6', style='color: #000') Bali
                // Service Tab 01
                #service-tab-1.service-tab
                    .container
                        .row
                            .col-md-6
                                img(src='img/portfolio/luxury-beach-1.jpg', style='height: 481px;', alt='creativity')
                            .col-md-6
                                .tab-bg
                                    h2 01
                                    h3 Get More From Life With Creativity
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium alias illum laborum provident quibusdam saepe similique vitae. Animi cum debitis exercitationem fugit harum officia porro, quia quos similique suscipit!
                                    .services-02-btn
                                        a.btn.btn-general.btn-yellow(href='#services', title='Get In Touch', role='button') Get In Touch
                // Service Tab 02
                #service-tab-2.service-tab
                    .container
                        .row
                            .col-md-6
                                img(src='img/portfolio/luxury-beach-2.jpg', style='height: 481px;', alt='creativity')
                            .col-md-6
                                .tab-bg
                                    h2 02
                                    h3 Get More From Life With Creativity
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium alias illum laborum provident quibusdam saepe similique vitae. Animi cum debitis exercitationem fugit harum officia porro, quia quos similique suscipit!
                                    .services-02-btn
                                        a.btn.btn-general.btn-yellow(href='#services', title='Get In Touch', role='button') Get In Touch
                // Service Tab 03
                #service-tab-3.service-tab
                    .container
                        .row
                            .col-md-6
                                img(src='img/services/service-tab-img-03.jpg', alt='creativity')
                            .col-md-6
                                .tab-bg
                                    h2 03
                                    h3 Get More From Life With Creativity
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium alias illum laborum provident quibusdam saepe similique vitae. Animi cum debitis exercitationem fugit harum officia porro, quia quos similique suscipit!
                                    .services-02-btn
                                        a.btn.btn-general.btn-yellow(href='#services', title='Get In Touch', role='button') Get In Touch
                // Service Tab 04
                #service-tab-4.service-tab
                    .container
                        .row
                            .col-md-6
                                img(src='img/services/service-tab-img-04.jpg', alt='creativity')
                            .col-md-6
                                .tab-bg
                                    h2 04
                                    h3 Get More From Life With Creativity
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium alias illum laborum provident quibusdam saepe similique vitae. Animi cum debitis exercitationem fugit harum officia porro, quia quos similique suscipit!
                                    .services-02-btn
                                        a.btn.btn-general.btn-yellow(href='#services', title='Get In Touch', role='button') Get In Touch
                // Service Tab 04
                #service-tab-5.service-tab
                    .container
                        .row
                            .col-md-6
                                img(src='img/services/service-tab-img-04.jpg', alt='creativity')
                            .col-md-6
                                .tab-bg
                                    h2 04
                                    h3 Get More From Life With Creativity
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium alias illum laborum provident quibusdam saepe similique vitae. Animi cum debitis exercitationem fugit harum officia porro, quia quos similique suscipit!
                                    .services-02-btn
                                        a.btn.btn-general.btn-yellow(href='#services', title='Get In Touch', role='button') Get In Touch
                // Service Tab 04
                #service-tab-6.service-tab
                    .container
                        .row
                            .col-md-6
                                img(src='img/services/service-tab-img-04.jpg', alt='creativity')
                            .col-md-6
                                .tab-bg
                                    h2 04
                                    h3 Get More From Life With Creativity
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium alias illum laborum provident quibusdam saepe similique vitae. Animi cum debitis exercitationem fugit harum officia porro, quia quos similique suscipit!
                                    .services-02-btn
                                        a.btn.btn-general.btn-yellow(href='#services', title='Get In Touch', role='button') Get In Touch
// End of Services
// ServicesB
section#servicesB
    .col-md-12
        .vertical-heading
            // <h5>Find Out Work</h5>
            h2(style='margin: 100px 0 60px 0; text-align: center; color: #000')
                | Vacation
                strong Guide
    #servicesB-02
        .content-box-md(style='padding: 0;')
            #servicesB-tabs(style='padding-bottom: 60px; background: #212226;')
                ul.text-center
                    li
                        a(href='#servicesB-tab-1') Creativity
                    li
                        a(href='#servicesB-tab-2') Strategy
                    li
                        a(href='#servicesB-tab-3') Design
                    li
                        a(href='#servicesB-tab-4') Development
                // Service Tab 01
                #servicesB-tab-1.service-tab
                    .container
                        .row
                            .col-md-6
                                img(src='img/services/service-tab-img-01.jpg', alt='creativity')
                            .col-md-6
                                .tab-bg
                                    h2 01
                                    h3 Get More From Life With Creativity
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium alias illum laborum provident quibusdam saepe similique vitae. Animi cum debitis exercitationem fugit harum officia porro, quia quos similique suscipit!
                                    .services-02-btn
                                        a.btn.btn-general.btn-yellow(href='#services', title='Get In Touch', role='button') Get In Touch
                // Service Tab 02
                #servicesB-tab-2.service-tab
                    .container
                        .row
                            .col-md-6
                                img(src='img/services/service-tab-img-02.jpg', alt='creativity')
                            .col-md-6
                                .tab-bg
                                    h2 02
                                    h3 Get More From Life With Creativity
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium alias illum laborum provident quibusdam saepe similique vitae. Animi cum debitis exercitationem fugit harum officia porro, quia quos similique suscipit!
                                    .services-02-btn
                                        a.btn.btn-general.btn-yellow(href='#services', title='Get In Touch', role='button') Get In Touch
                // Service Tab 03
                #servicesB-tab-3.service-tab
                    .container
                        .row
                            .col-md-6
                                img(src='img/services/service-tab-img-03.jpg', alt='creativity')
                            .col-md-6
                                .tab-bg
                                    h2 03
                                    h3 Get More From Life With Creativity
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium alias illum laborum provident quibusdam saepe similique vitae. Animi cum debitis exercitationem fugit harum officia porro, quia quos similique suscipit!
                                    .services-02-btn
                                        a.btn.btn-general.btn-yellow(href='#services', title='Get In Touch', role='button') Get In Touch
                // Service Tab 04
                #servicesB-tab-4.service-tab
                    .container
                        .row
                            .col-md-6
                                img(src='img/services/service-tab-img-04.jpg', alt='creativity')
                            .col-md-6
                                .tab-bg
                                    h2 04
                                    h3 Get More From Life With Creativity
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium alias illum laborum provident quibusdam saepe similique vitae. Animi cum debitis exercitationem fugit harum officia porro, quia quos similique suscipit!
                                    .services-02-btn
                                        a.btn.btn-general.btn-yellow(href='#services', title='Get In Touch', role='button') Get In Touch
// End of ServicesB
// ServicesC
section#servicesC
    .col-md-12
        .vertical-heading
            // <h5>Find Out Work</h5>
            h2(style='margin: 120px 0 60px 0; text-align: center; color: #fff')
                | Vacation
                strong Guide
    #servicesC-02
        .content-box-md(style='padding: 0;')
            #servicesC-tabs(style='background: #eaddb2; padding-bottom: 60px;')
                ul.text-center
                    li
                        a(href='#servicesC-tab-1', style='color: #fff') Creativity
                    li
                        a(href='#servicesC-tab-2', style='color: #fff') Strategy
                    li
                        a(href='#servicesC-tab-3', style='color: #fff') Design
                    li
                        a(href='#servicesC-tab-4', style='color: #fff') Development
                // Service Tab 01
                #servicesC-tab-1.service-tab
                    .container
                        .row
                            .col-md-6
                                img(src='img/services/service-tab-img-01.jpg', alt='creativity')
                            .col-md-6
                                .tab-bg
                                    h2 01
                                    h3 Get More From Life With Creativity
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium alias illum laborum provident quibusdam saepe similique vitae. Animi cum debitis exercitationem fugit harum officia porro, quia quos similique suscipit!
                                    .services-02-btn
                                        a.btn.btn-general.btn-yellow(href='#services', title='Get In Touch', role='button') Get In Touch
                // Service Tab 02
                #servicesC-tab-2.service-tab
                    .container
                        .row
                            .col-md-6
                                img(src='img/services/service-tab-img-02.jpg', alt='creativity')
                            .col-md-6
                                .tab-bg
                                    h2 02
                                    h3 Get More From Life With Creativity
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium alias illum laborum provident quibusdam saepe similique vitae. Animi cum debitis exercitationem fugit harum officia porro, quia quos similique suscipit!
                                    .services-02-btn
                                        a.btn.btn-general.btn-yellow(href='#services', title='Get In Touch', role='button') Get In Touch
                // Service Tab 03
                #servicesC-tab-3.service-tab
                    .container
                        .row
                            .col-md-6
                                img(src='img/services/service-tab-img-03.jpg', alt='creativity')
                            .col-md-6
                                .tab-bg
                                    h2 03
                                    h3 Get More From Life With Creativity
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium alias illum laborum provident quibusdam saepe similique vitae. Animi cum debitis exercitationem fugit harum officia porro, quia quos similique suscipit!
                                    .services-02-btn
                                        a.btn.btn-general.btn-yellow(href='#services', title='Get In Touch', role='button') Get In Touch
                // Service Tab 04
                #servicesC-tab-4.service-tab
                    .container
                        .row
                            .col-md-6
                                img(src='img/services/service-tab-img-04.jpg', alt='creativity')
                            .col-md-6
                                .tab-bg
                                    h2 04
                                    h3 Get More From Life With Creativity
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium alias illum laborum provident quibusdam saepe similique vitae. Animi cum debitis exercitationem fugit harum officia porro, quia quos similique suscipit!
                                    .services-02-btn
                                        a.btn.btn-general.btn-yellow(href='#services', title='Get In Touch', role='button') Get In Touch
// End of ServicesB
// Team
section#team
    .content-box-md
        .container
            .row
                .col-md-6
                    #team-left
                        .vertical-heading
                            h5 Who We Are
                            h2
                                | Meet Our
                                br
                                strong Talented
                                |  Team
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab eos eveniet excepturi harum nobis officiis quia sunt ut vitae voluptate.
                .col-md-6
                    #team-members.owl-carousel.owl-theme
                        .team-member
                            img.img-responsive(src='img/team/team-1.jpg', alt='team member')
                            .team-member-overlay
                                .team-member-info.text-center
                                    h6 Kevin Greer
                                    p Web Designer
                                    ul.social-list
                                        li
                                            a(href='#')
                                                i.fa.fa-facebook
                                        li
                                            a(href='#')
                                                i.fa.fa-twitter
                                        li
                                            a(href='#')
                                                i.fa.fa-google-plus
                        .team-member
                            img.img-responsive(src='img/team/team-2.jpg', alt='team member')
                            .team-member-overlay
                                .team-member-info.text-center
                                    h6 Christian Cilinis
                                    p Web Developer
                                    ul.social-list
                                        li
                                            a(href='#')
                                                i.fa.fa-facebook
                                        li
                                            a(href='#')
                                                i.fa.fa-twitter
                                        li
                                            a(href='#')
                                                i.fa.fa-google-plus
                        .team-member
                            img.img-responsive(src='img/team/team-3.jpg', alt='team member')
                            .team-member-overlay
                                .team-member-info.text-center
                                    h6 Andrea Arkov
                                    p Senior Developer
                                    ul.social-list
                                        li
                                            a(href='#')
                                                i.fa.fa-facebook
                                        li
                                            a(href='#')
                                                i.fa.fa-twitter
                                        li
                                            a(href='#')
                                                i.fa.fa-google-plus
                        .team-member
                            img.img-responsive(src='img/team/team-4.jpg', alt='team member')
                            .team-member-overlay
                                .team-member-info.text-center
                                    h6 Harold Houdini
                                    p Art Director
                                    ul.social-list
                                        li
                                            a(href='#')
                                                i.fa.fa-facebook
                                        li
                                            a(href='#')
                                                i.fa.fa-twitter
                                        li
                                            a(href='#')
                                                i.fa.fa-google-plus
                        .team-member
                            img.img-responsive(src='img/team/team-5.jpg', alt='team member')
                            .team-member-overlay
                                .team-member-info.text-center
                                    h6 Angelia Perry
                                    p Manager
                                    ul.social-list
                                        li
                                            a(href='#')
                                                i.fa.fa-facebook
                                        li
                                            a(href='#')
                                                i.fa.fa-twitter
                                        li
                                            a(href='#')
                                                i.fa.fa-google-plus
                        .team-member
                            img.img-responsive(src='img/team/team-6.jpg', alt='team member')
                            .team-member-overlay
                                .team-member-info.text-center
                                    h6 Kara Kulus
                                    p Marketing &amp; Sales
                                    ul.social-list
                                        li
                                            a(href='#')
                                                i.fa.fa-facebook
                                        li
                                            a(href='#')
                                                i.fa.fa-twitter
                                        li
                                            a(href='#')
                                                i.fa.fa-google-plus
                // <div id="progress-elements">
                // &lt;!&ndash; Progress Bars &ndash;&gt;
                // <div class="row">
                // <div class="col-md-6">
                // &lt;!&ndash; Skill 01 &ndash;&gt;
                // <div class="skill">
                // <h4>Web Design</h4>
                // <div class="progress">
                // <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%;">
                // <span>95%</span>
                // </div>
                // </div>
                // </div>
                // </div>
                // <div class="col-md-6">
                // &lt;!&ndash; Skill 02 &ndash;&gt;
                // <div class="skill">
                // <h4>Photoshop/Illustration</h4>
                // <div class="progress">
                // <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
                // <span>75%</span>
                // </div>
                // </div>
                // </div>
                // </div>
                // <div class="col-md-6">
                // &lt;!&ndash; Skill 03 &ndash;&gt;
                // <div class="skill">
                // <h4>Web Development</h4>
                // <div class="progress">
                // <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
                // <span>75%</span>
                // </div>
                // </div>
                // </div>
                // </div>
                // <div class="col-md-6">
                // &lt;!&ndash; Skill 04 &ndash;&gt;
                // <div class="skill">
                // <h4>Digital Marketing</h4>
                // <div class="progress">
                // <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                // <span>90%</span>
                // </div>
                // </div>
                // </div>
                // </div>
                // </div>
                // </div>
// End of Team
// Statement
section#statement
    .content-box-lg
        .container
            .row
                .col-md-12
                    #tech-statement.text-center
                        h3
                            i.fa.fa-quote-left
                            |  We design and develop services for customers of all sizes,
                            br
                            |  specializing in creating stylish, modern websites and online stores.
                            i.fa.fa-quote-right
                        p - Daniel Watrous -
// End of Statement
// Testimonials
section#testimonials
    .container
        .row
            .col-md-4
                .vertical-heading
                    h5 Who We Are
                    h2
                        | What Our
                        br
                        strong Customers
                        |  Say
            .col-md-8.col-sm-8
                #testimonial-slider.owl-carousel.owl-theme
                    // Testimonial 01
                    .testimonial
                        .row
                            .col-md-6.col-sm-6.col-xs-6
                                h3 Quality Support
                            .col-md-6.col-sm-6.col-xs-6
                                .stars.text-right
                                    i.fa.fa-star
                                    i.fa.fa-star
                                    i.fa.fa-star
                                    i.fa.fa-star
                                    i.fa.fa-star
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus animi assumenda distinctio dolor eos exercitationem fugiat, nisi, nulla officia sunt unde voluptatum. A inventore laborum mollitia odit, perspiciatis qui sequi.
                        .author
                            .row
                                .col-md-2.col-sm-3.col-xs-6
                                    img.img-fluid.rounded-circle.test-pic-s(src='img/testimonial/client-1.jpg', alt='client')
                                .col-md-10.col-sm-3.col-xs-6
                                    .author-name-des
                                        p Joq Martin
                                        p Senior Developer
                    // Testimonial 02
                    .testimonial
                        .row
                            .col-md-6.col-sm-6.col-xs-6
                                h3 Quality Support
                            .col-md-6.col-sm-6.col-xs-6
                                .stars.text-right
                                    i.fa.fa-star
                                    i.fa.fa-star
                                    i.fa.fa-star
                                    i.fa.fa-star
                                    i.fa.fa-star
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus animi assumenda distinctio dolor eos exercitationem fugiat, nisi, nulla officia sunt unde voluptatum. A inventore laborum mollitia odit, perspiciatis qui sequi.
                        .author
                            .row
                                .col-md-2.col-sm-3.col-xs-6
                                    img.img-fluid.rounded-circle.test-pic-s(src='img/testimonial/client-2.jpg', alt='client')
                                .col-md-10.col-sm-3.col-xs-6
                                    .author-name-des
                                        p Jacob Bailey
                                        p Back-End Developer
                    // Testimonial 03
                    .testimonial
                        .row
                            .col-md-6.col-sm-6.col-xs-6
                                h3 Quality Support
                            .col-md-6.col-sm-6.col-xs-6
                                .stars.text-right
                                    i.fa.fa-star
                                    i.fa.fa-star
                                    i.fa.fa-star
                                    i.fa.fa-star
                                    i.fa.fa-star
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus animi assumenda distinctio dolor eos exercitationem fugiat, nisi, nulla officia sunt unde voluptatum. A inventore laborum mollitia odit, perspiciatis qui sequi.
                        .author
                            .row
                                .col-md-2.col-sm-3.col-xs-6
                                    img.img-fluid.rounded-circle.test-pic-s(src='img/testimonial/client-3.jpg', alt='client')
                                .col-md-10.col-sm-3.col-xs-6
                                    .author-name-des
                                        p Stacey Bell
                                        p Project Manager
// End of Testimonials
// Pricing
// <section id="pricing">
// <div class="content-box-md">
// <div class="container">
// <div class="row">
// <div class="col-md-12 text-center">
// <div class="horizontal-heading">
// <h5>Lovely Customers</h5>
// <h2>Our Pricing</h2>
// </div>
// </div>
// </div>
// <div class="row">
// <div class="col-md-4 col-sm-4">
// &lt;!&ndash; Pricing Table 01 &ndash;&gt;
// <div class="pricing-table">
// <div class="type">
// <h4>Basic</h4>
// </div>
// <div class="price">
// <div class="row">
// <div class="col-md-4 col-sm-4 col-xs-4">
// <h2><span class="dollar">&#36;</span>29<br><span class="month">Month</span></h2>
// </div>
// <div class="col-md-8 col-sm-8 col-xs-8">
// <p>You will get all these awesome services with this great price. Get it now!</p>
// </div>
// </div>
// </div>
// <ul class="package">
// <li><i class="fa fa-check"></i>Full access</li>
// <li><i class="fa fa-check"></i>Unlimited Bandwidth</li>
// <li><i class="fa fa-check"></i>Powerful Admin Panel</li>
// <li><i class="fa fa-check"></i>Email Accounts</li>
// <li><i class="fa fa-check"></i>10 Free Web sites</li>
// </ul>
// <div class="pricing-btn">
// <a class="btn btn-general btn-yellow" href="#" title="Get Started" role="button">Get Started</a>
// </div>
// </div>
// </div>
// <div class="col-md-4 col-sm-4">
// &lt;!&ndash; Pricing Table 02 &ndash;&gt;
// <div class="pricing-table black">
// <div class="type">
// <h4>Unlimited</h4>
// </div>
// <div class="price">
// <div class="row">
// <div class="col-md-4 col-sm-4 col-xs-4">
// <h2><span class="dollar">&#36;</span>96<br><span class="month">Month</span></h2>
// </div>
// <div class="col-md-8 col-sm-8 col-xs-8">
// <p>You will get all these awesome services with this great price. Get it now!</p>
// </div>
// </div>
// </div>
// <ul class="package">
// <li><i class="fa fa-check"></i>Full access</li>
// <li><i class="fa fa-check"></i>Unlimited Bandwidth</li>
// <li><i class="fa fa-check"></i>Powerful Admin Panel</li>
// <li><i class="fa fa-check"></i>Email Accounts</li>
// <li><i class="fa fa-check"></i>10 Free Web sites</li>
// </ul>
// <div class="pricing-btn">
// <a class="btn btn-general btn-white" href="#" title="Get Started" role="button">Get Started</a>
// </div>
// </div>
// </div>
// <div class="col-md-4 col-sm-4">
// &lt;!&ndash; Pricing Table 03 &ndash;&gt;
// <div class="pricing-table">
// <div class="type">
// <h4>Professional</h4>
// </div>
// <div class="price">
// <div class="row">
// <div class="col-md-4 col-sm-4 col-xs-4">
// <h2><span class="dollar">&#36;</span>57<br><span class="month">Month</span></h2>
// </div>
// <div class="col-md-8 col-sm-8 col-xs-8">
// <p>You will get all these awesome services with this great price. Get it now!</p>
// </div>
// </div>
// </div>
// <ul class="package">
// <li><i class="fa fa-check"></i>Full access</li>
// <li><i class="fa fa-check"></i>Unlimited Bandwidth</li>
// <li><i class="fa fa-check"></i>Powerful Admin Panel</li>
// <li><i class="fa fa-check"></i>Email Accounts</li>
// <li><i class="fa fa-check"></i>10 Free Web sites</li>
// </ul>
// <div class="pricing-btn">
// <a class="btn btn-general btn-yellow" href="#" title="Get Started" role="button">Get Started</a>
// </div>
// </div>
// </div>
// </div>
// </div>
// </div>
// </section>
// End of Pricing
// Stats
section#stats
    .content-box-md
        .container
            .row
                .col-md-12
                    .vertical-heading
                        h5 Fun Facts
                        h2
                            | We Deliver
                            br
                            strong.e-bold-w Excellent
                            |  Services
            .row
                .col-md-3.col-sm-3.col-xs-6
                    // Stats Item 01
                    .stats-item.text-center
                        i.fa.fa-bar-chart
                        h3.counter 15
                        p Years Experience
                .col-md-3.col-sm-3.col-xs-6
                    // Stats Item 02
                    .stats-item.text-center
                        i.fa.fa-codepen
                        h3.counter 476
                        p Projects Done
                .col-md-3.col-sm-3.col-xs-6
                    // Stats Item 03
                    .stats-item.text-center
                        i.fa.fa-trophy
                        h3.counter 115
                        p Awards Received
                .col-md-3.col-sm-3.col-xs-6
                    // Stats Item 04
                    .stats-item.text-center
                        i.fa.fa-user
                        h3.counter 276
                        p Happy Clients
// End of Stats
// Clients
section#clients
    .content-box-sm
        .container
            .row
                .col-md-12.text-center
                    .horizontal-heading
                        h5 Satisfied Clients
                        h2
                            | Our Happy
                            strong Clients
            .row
                .col-md-12
                    #clients-list.owl-carousel.owl-theme
                        // Client 01
                        .client
                            img.img-fluid(src='img/client/client-1.png', alt='client')
                        // Client 02
                        .client
                            img.img-fluid(src='img/client/client-2.png', alt='client')
                        // Client 03
                        .client
                            img.img-fluid(src='img/client/client-3.png', alt='client')
                        // Client 04
                        .client
                            img.img-fluid(src='img/client/client-4.png', alt='client')
                        // Client 05
                        .client
                            img.img-fluid(src='img/client/client-5.png', alt='client')
                        // Client 06
                        .client
                            img.img-fluid(src='img/client/client-6.png', alt='client')
                        // Client 07
                        .client
                            img.img-fluid(src='img/client/client-7.png', alt='client')
                        // Client 08
                        .client
                            img.img-fluid(src='img/client/client-8.png', alt='client')
// End of Clients
// Blog
// <section id="blog">
// <div class="content-box-md">
// <div class="container">
// <div class="row">
// <div class="col-md-5 col-sm-4">
// <div id="blog-left">
// <div class="vertical-heading">
// <h5>Latest News</h5>
// <h2>Latest <br>From <strong>Blog</strong></h2>
// </div>
// <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi consequatur corporis ipsam saepe?</p>
// <div id="blog-btn">
// <a class="btn btn-general btn-yellow" href="#" title="View All Posts" role="button">View All Posts</a>
// </div>
// </div>
// </div>
// <div class="col-md-7 col-sm-8">
// <div class="row">
// <div class="col-md-6 col-sm-6">
// &lt;!&ndash; Blog Post 01 &ndash;&gt;
// <div class="blog-post">
// <h4>Your Post Title</h4>
// <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur cupiditate!</p>
// <a href="#">Read More ></a>
// <div class="post-meta">
// <div class="row">
// <div class="col-md-6 col-sm-8 col-xs-5">
// <p><img src="img/blog/user-1.jpg" alt="author" class="rounded-circle">Daniel Watrous</p>
// </div>
// <div class="col-md-6 col-sm-4 col-xs-7">
// <p class="text-right">October 02, 2018</p>
// </div>
// </div>
// </div>
// </div>
// </div>
// <div class="col-md-6 col-sm-6">
// &lt;!&ndash; Blog Post 02 &ndash;&gt;
// <div class="blog-post">
// <h4>Your Post Title</h4>
// <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur cupiditate!</p>
// <a href="#">Read More ></a>
// <div class="post-meta">
// <div class="row">
// <div class="col-md-6 col-sm-8 col-xs-5">
// <p><img src="img/blog/user-2.jpg" alt="author" class="rounded-circle">Johan Petter</p>
// </div>
// <div class="col-md-6 col-sm-4 col-xs-7">
// <p class="text-right">November 14, 2018</p>
// </div>
// </div>
// </div>
// </div>
// </div>
// </div>
// </div>
// </div>
// </div>
// </div>
// </section>
// End of Blog
// Contact
section#contact
    .content-box-md
        .container
            .row
                .col-md-6
                    // Contact Left
                    #contact-left
                        .vertical-heading
                            h5 Who We Are
                            h2
                                | Get
                                br
                                | In
                                strong Touch
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque facere incidunt inventore ipsum quia quibusdam. Cumque enim excepturi obcaecati possimus suscipit.
                        #offices
                            .row
                                .col-md-6
                                    .office
                                        h4 United States
                                        ul.office-details
                                            li
                                                i.fa.fa-mobile
                                                | (718) 123 4567
                                            li
                                                i.fa.fa-envelope-o
                                                | support@solo.com
                                            li
                                                i.fa.fa-map-marker
                                                | 524 Mina Street Building 05
                                                br
                                                | New York, NY
                                .col-md-6
                                    .office
                                        h4 Australia
                                        ul.office-details
                                            li
                                                i.fa.fa-mobile
                                                | +(55) 879 58 87 46
                                            li
                                                i.fa.fa-envelope-o
                                                | support@solo.com
                                            li
                                                i.fa.fa-map-marker
                                                | 507 Din Street Building 55
                                                br
                                                | Sydney, Australia
                        ul.social-list
                            li
                                a(href='#')
                                    i.fa.fa-facebook
                            li
                                a(href='#')
                                    i.fa.fa-twitter
                            li
                                a(href='#')
                                    i.fa.fa-google-plus
                .col-md-6
                    // Contact Right
                    #contact-right
                        form
                            h4 Send Message
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque cumq.
                            .row
                                .col-md-6.col-sm-6
                                    .form-group
                                        input#name.form-control(type='text', placeholder='Your Name')
                                .col-md-6.col-sm-6
                                    .form-group
                                        input#email.form-control(type='email', placeholder='Email Address')
                                .col-md-6.col-sm-6
                                    .form-group
                                        input#phone.form-control(type='text', placeholder='Phone No.')
                                .col-md-6.col-sm-6
                                    .form-group
                                        input#subject.form-control(type='text', placeholder='Subject')
                            .form-group
                                textarea#message.form-control(placeholder='Message')
                            #submit-btn
                                a.btn.btn-general.btn-yellow(href='#', title='Submit', role='button') Submit
// End of Contact
// Google Map
// <section id="google-map">
// <div class="container-fluid">
// <div class="row">
// <div id="map"></div>
// </div>
// </div>
// </section>
// End of Google Map
// Footer
footer.text-center
    .container
        .row
            .col-md-12
                p.my-auto
                    | Copyright &copy; 2021 All Rights Reserved By
                    span SOLO INC.
    // Back To Top
    a#back-to-top.btn.btn-sm.btn-yellow.btn-back-to-top.smooth-scroll.hidden-sm.hidden-xs(href='#home', title='home', role='button')
        i.fa.fa-angle-up
// End of Footer
// JQuery
script(src='js/jquery.js')
// Bootstrap JS
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')
// Owl Carousel JS
script(src='js/owl-carousel/owl.carousel.min.js')
script(src='js/waypoints/jquery.waypoints.min.js')
// Responsive Tabs JS
script(src='js/responsive-tabs/jquery.responsiveTabs.min.js')
// Isotope
script(src='js/isotope/isotope.pkgd.min2.js')
// Magnific Popup
script(src='js/magnific-popup/jquery.magnific-popup.min.js')
// Counter
script(src='js/counter/jquery.counterup.min.js')
// Easing
script(src='js/easing/jquery.easing.1.3.js')
// Custom JS
script(src='js/script.js')
