extends base

block content
    include _home
    include _about
    include _portfolio
    include _services
    include _team
    include _statement
    include _testimonials
    include _pricing
    include _stats
    include _clients
    include _blog
    include _contact