/* ==============================
 Default Theme
 ----------------------------
 Fonts: Raleway & open Sans
 ----------------------------
 Colors:
    Moon Yellow:    #F4C613
    Gray:           #212226
    White Smoke:    #F4F4F4
    White:          #FFF
    Black:          #000

================================ */


